.page[b-2atj0rn14j] {
    position: relative;
    display: flex;
    flex-direction: column;
}

.main[b-2atj0rn14j] {
    flex: 1;
}

 .top-row[b-2atj0rn14j]  a, .top-row .btn-link[b-2atj0rn14j] {
        white-space: nowrap;
        margin-left: 1.5rem;
    }

    .top-row a:first-child[b-2atj0rn14j] {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-2atj0rn14j] {
        display: none;
    }

    .top-row.auth[b-2atj0rn14j] {
        justify-content: space-between;
    }

    .top-row a[b-2atj0rn14j], .top-row .btn-link[b-2atj0rn14j] {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-2atj0rn14j] {
        flex-direction: row;
    }

    .main > div[b-2atj0rn14j] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
