<a class="panel-block is-active" @onclick="EnviarMensajeUsuario">
    <span class="panel-icon has-text-success-dark">
        <i class="fas fa-user" aria-hidden="true"></i>
    </span>
    @User.Nombre
</a>