html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a, .btn-link {
    color: #0366d6;
}

.bg-emisor {
    background: #2ba3d1;
}

.bg-receptor {
    background: #2e80a0;
}


.messageReceptor, .messageEmisor {
    width: 100%;
    height: auto;
    position: relative;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.messageReceptor:before {
    content: "";
    position: absolute;
    right: 100%;
    top: 2px;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-right: 20px solid #2e80a0;
    border-bottom: 10px solid transparent;
} 

.messageEmisor:before {
    content: "";
    position: absolute;
    left: 100%;
    top: 2px;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-left: 20px solid #2ba3d1;
    border-bottom: 10px solid transparent;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid hsl(348, 86%, 43%);
}

.validation-message {
    color: hsl(348, 86%, 43%);
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }
